{{#each comments as |comment|}}
 <b>Author:</b> {{comment.author}}
 <br>
 <b>Comment:</b>
 <br>
 {{comment.message}}
 <br>
 <b>Date:</b> {{comment.updatedAt}}
 <br>
 <button {{action 'deleteComment' comment}} class="btn">Delete Comment</button>
 <br>
 <br>
{{else}}
  No comments found.
{{/each}}
